body {
	background-image:radial-gradient(grey ,white )
}
h2 { 
	font-family: "Special Elite";
	font-size: 60px;
}
img {
	width: 450px;
	float: right;
}
#container {
margin-top: 5%;
}
.command {
	width: 40%;
	font-family: "Ubuntu Mono";
}
.description {
	width: 60%;
	color: white;
	font-family: "Ubuntu Condensed";
}
.description:hover {
	color: black;
}
table {
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: left;
	width: 50%;
}
td {
	font-size: 20px;
}
caption {
	text-align: left;
	font-size: 24px;
	font-family: "Special Elite";
	text-decoration: underline;
}
footer {
	margin-top: 8%;
}
