/*------------GENERAL-----------*/

body {
	background-image:radial-gradient(grey ,white )
}
h2 { 
	font-family: "Special Elite";
	font-size: 60px;
}
img {
	width: 450px;
	float: right;
}


/*----------TABLE------------*/


#container {
margin-top: 5%;
}
.command {
	width: 40%;
	font-family: "Ubuntu Mono";
}
.description {
	width: 60%;
	color: white;
	font-family: "Ubuntu Condensed";
}
table {
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: left;
	width: 50%;
}
td {
	font-size: 20px;
}
caption {
	text-align: left;
	font-size: 24px;
	font-family: "Special Elite";
	text-decoration: underline;
}

/*---------FOOTER-------------*/


footer {
	margin-top: 8%;
}


/*-------------EFFECTS------------*/


.description:hover {
	color: black;
	cursor: not-allowed;
}


/*----------RESPONSIVE----------*/


@media screen and (max-width: 924px){

	img {
	 width: 300px; 
}
}
@media screen and (max-width: 620px){
	img {
	width: 200px;
}
	h2 {
	font-size: 30px;
	}
}
@media screen and (max-width: 480px){
	img {
	width: 150px;
}
}
@media screen and (max-width: 426px){
	img {
	width: 100px;
}
}
@media screen and (max-width: 380px){
	img {
	width: 50px;
} 		
}
